dataset8.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a3st ="http://gres.uninova.pt/a3st"  xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
  <xs:element name="note">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="temprzatureSensor">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="from"/>
              <xs:element type="xs:string" name="ssname0"/>
              <xs:element type="xs:float" name="ssvalue0" sawsdl:modelReference="/TemperatureSensor/hasDecValue"/>
              <xs:element type="xs:string" name="ssname1"/>
              <xs:element type="xs:float" name="ssOutdoorValue" sawsdl:modelReference="/OutdoorTemperatureSensor/hasDecValue" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="alert1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="alert2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="alert3" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

