dataset9.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a3st ="http://gres.uninova.pt/a3st"  xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
<xs:element name="logger">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="THB">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:float" name="indoortemp" sawsdl:modelReference="/IndoorTemperatureSensor/hasDecValue"/>
                <xs:attribute type="xs:byte" name="fc"/>
                <xs:attribute type="xs:byte" name="lowbat"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="TH">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:float" name="outdoortemp" sawsdl:modelReference="/OutdoorTemperatureSensor/hasDecValue"/>
                <xs:attribute type="xs:byte" name="hum"/>
                <xs:attribute type="xs:byte" name="lowbat"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="T">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:long" name="date"/>
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:float" name="tempvalue" sawsdl:modelReference="/TemperatureSensor/hasDecValue"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
