dataset12.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a3st ="http://gres.uninova.pt/a3st"  xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
  <xs:element name="IndoorTemperatureSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GPSSensor" maxOccurs="unbounded" >
          <xs:complexType>
		    <xs:sequence>
			  <xs:element type="xs:string" name="LocationUnits" sawsdl:modelReference="/GPSSensor/hasLocation/GPSLocation/hasLocUnits/LocationUnits" a3st:mdi-ref="1;2" />
			  <xs:element type="xs:float" name="GpsDecValue" sawsdl:modelReference="/IndoorTemperatureSensor/hasGPS/GPSSensor/hasDecValue" />
			  <xs:element type="xs:string" name="GpsStrValue" sawsdl:modelReference="/IndoorTemperatureSensor/hasGPS/GPSSensor/hasStrValue" />
		      <xs:element type="xs:float" name="longitude" sawsdl:modelReference="/GPSSensor/hasLocation/Longitude"/>
			  <xs:element type="xs:float" name="latitude" sawsdl:modelReference="/GPSSensor/hasLocation/latitude"/>
		    </xs:sequence>
          </xs:complexType>
        </xs:element>  
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:appinfo>
      <a3st:map-data-ind a3st:mdi-id="1" a3st:individual="Fahrenheit">Fah</a3st:map-data-ind>
      <a3st:map-data-ind a3st:mdi-id="2" a3st:individual="Celsius">Cel</a3st:map-data-ind>
    </xs:appinfo>
  </xs:annotation>
</xs:schema>
